.container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    font-family: 'roboto', sans-serif;
}

.currency__card{
    width: 200px;
    height: 150px;
    background-color:#75af26 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 20px #75af26;
    transition: all .6s;
}
.currency__card:hover{
    background-color: #588814;
    transform: scale(1.1, 1.1);
}
.currency__card span{
    color: white;
    letter-spacing: 1px;
}
.currency__card div{
    margin: 5px 0;
}

